[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_3A0014000443303848373220-if00 
restart_method: command

[output_pin daylight]
pin: expander:PA0
pwm: True
cycle_time: 0.01
value: 1
shutdown_value: 0

#[output_pin nevermore]
[fan_generic Nevermore]
pin: expander:PA1
#pwm: true
#cycle_time: 0.010
#value: 1
#shutdown_value: 0

[delayed_gcode filter_off]
gcode:
    SET_FAN_SPEED FAN=Nevermore SPEED=0

[gcode_macro TOGGLE_NEVERMORE]
gcode:
    {% if printer['fan_generic Nevermore'].speed > 0 %}
      SET_FAN_SPEED FAN=Nevermore SPEED=0
    {% else %}
      SET_FAN_SPEED FAN=Nevermore SPEED=1.0
    {% endif %}

[output_pin mosfet2]
pin: expander:PA2
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

[fan_generic BedFan]
pin: expander:PA3
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

[delayed_gcode bed_fan_off]
gcode:
    SET_FAN_SPEED FAN=BedFan SPEED=0

[gcode_macro TOGGLE_BEDFAN]
gcode:
    {% if printer['fan_generic BedFan'].speed > 0 %}
      SET_FAN_SPEED FAN=BedFan SPEED=0
    {% else %}
      SET_FAN_SPEED FAN=BedFan SPEED=1
    {% endif %}

# Status LED lights when klipper connects 
[static_digital_output onboardLED]
pins: !expander:PA4


#[neopixel expanderPixel]
#pin: expander:PB1
#chain_count: 1
#initial_RED: 0.9
#initial_GREEN: 0.3
#initial_BLUE: 0.0

# Other Pins
# T0 = PA6
# T1 = PA5
# GPIO = PA7

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: expander:PA6
